<!--
<table>
</tbody>
  <% @songs.each do |song| %>
    <tr><%= song.title %></tr>
  <% end %>
</tbody>
</table> -->

<h1>Songs</h1>
 <table>
   <tbody>
 <% @songs.each do |s| %>
 <tr>
   <td> <%= link_to s.title, song_path(s) %> </td>
 </tr>
 <% end %>
 </tbody>
 </table> 
