
<table>
  <thead>
    <th>Song</th>
    <th>Artist</th>
  </thead>
</tbody>
  <%= @songs.each do |song| %>
    <tr>
      <td><%= song.title %></td>
      <td><%= song.artist %></td>
    </tr>
  <% end %>
</tbody>
</table>
