
<!-- <table>
  <thead>
    <th>Song</th>
    <th>Artist</th>
  </thead>
</tbody>
  <% @songs.each do |song| %>
    <tr>
      <td><%= song.title %></td>
      <td><%= song.artist_name %></td>
    </tr>
  <% end %>
</tbody>
</table> -->

<% @songs.each do |song| %>
<%= song.title %>
<% end %>
